.hero {
  height: 100vh; /* full screen */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: url("/Images/family.jpg") no-repeat center center/cover; */
  color: white;
  text-align: center;
  padding: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}
